{% extends "base.html" %} {% block title %} Login | TransitOps {% endblock %} 
{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card shadow-lg border-0 mt-5">
        <div class="card-header bg-primary text-white text-center">
          <h3>🚚 TransitOps</h3>
          <p class="mb-0">Login to your account</p>
        </div>

        <div class="card-body p-4">
          <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
              <label class="form-label"> Username </label>

              <input
                type="text"
                name="username"
                class="form-control"
                placeholder="Enter Username"
                required
              />
            </div>

            <div class="mb-4">
              <label class="form-label"> Password </label>

              <input
                type="password"
                name="password"
                class="form-control"
                placeholder="Enter Password"
                required
              />
            </div>

            <button class="btn btn-primary w-100">Login</button>
          </form>

          <hr />

          <p class="text-center">
            Don't have an account?

            <a href="{% url 'register' %}"> Register </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
